# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Madan\Desktop\mycode\react\react-messenger\.idea/dataSources/
/dataSources.local.xml
