.chatmaindiv{
    width:100vw;
    height:100vh;
    background-color:#9381ff;
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.online-div{
    width: 25vw;
    height: 84vh;
    background-color: #6d23b6;
    margin: 7vh 0 5vh 10vw;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2vw;
}
.divider{
    margin: 1rem 1rem;
}
.userdata{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    overflow-y: scroll;
    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background: #fe6d73; 
 
  }
.userdata::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.userdata::-webkit-scrollbar{
    width: 2px;

}
.singlecard{
    width: 100%;
    height: 10vh;
    background-color: #caf0f8;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3px 0;
}
.singlecard:hover{
    background-color: aquamarine;
}

.avatar{
    width: 30%;
    height: 9vh;
    padding: 0;
    margin: 0;
    
}
img{
    border-radius: 50%;
}
.username{
    margin: 0.9rem;
}
.chatdiv{
    width: 55vw;
    height:84vh;
    background-color: #b8b8ff;
    margin: 7vh 5vw 5vh 0;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}