.maindiv{
    position: absolute;
    width: 0;
	height: 0;
	border-right: 100vw solid transparent;
	border-bottom: 100vh solid #03045e;
}
.stylesvg{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
.signinlogo{
    width: 180px;
    height: 180px;
    margin-left: 30px;
    margin-top: 10px;
}
.letters{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;
}
.login-letters{
    font-size: 1.5rem;
}
.margin-right{
    margin-left: 30px;
}
.logindiv{
    width: 50vw;
    height: 308px;
    position: absolute;
    background-color: #6930c3;
    transform: translate(-50%,-50%);
    top: 50vh;
    left: 50vw;
    border-radius:5px ;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.loginbox{
    margin: 5px 20px 20px 20px;
    width: 23vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line{
    margin: 1rem;  
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 1.3rem; */
}


/* 
#48cae4;

*/




@media only screen and (min-width: 320px) and (max-width: 480px){
    .maindiv {
        border-right: 0;
        border-bottom: 0;
        width: 100vw;
        height: 80vh;
        box-sizing: content-box;
        padding-top: 15px;
        position: relative;
        background: #03045e;
        color: white;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
    }
    .maindiv:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 11vh solid #fff;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
    }
    .logindiv{
        width: 70vw;
        height: auto;
        position: relative;
        top: 50%;
    }
    .loginbox{
        width: 100vw;

    }
    .line{
        display: none;
    }
    .logo{
        display: none;
    }
    .logindiv .mobile > p{
        margin-top: 1vh;
        font-size: 0.5rem ;
        font-weight: bold;
    }
    .mobile{
        color: white;
        display: inline;
    }

}
@media only screen and (min-width: 481px)and (max-width: 768px){
    .mobile{
        color: white;
    }
    .logindiv{
        width: 70vw;

    }
    .loginbox{
        width: 90%;
    }
    .line{
        display: none;
    }
    .logo{
        display: none;
    }
    .mobile{
        display: block;
        height: auto;
    }

}
@media only screen and (min-width: 769px)and (max-width: 1024px){
    .mobile{
        display: none;
    }
    .logindiv{
        width: 55vw;
    }

    .stylesvg{
        width: 150px;
        height: 150px;
        margin-left: 1vw;
    }

    .stylesvg{
        margin-left: 30px;
    }
    p.letters.margin-right{
        margin-left: 10px;
        margin-right: 0;
    }
}
@media only screen and (min-width: 1025px)and (max-width: 1200px){

    .stylesvg{
        margin-left: 20px;
    }
    p.letters.margin-right{
        margin-left: 30px;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1201px){
    .mobile{
        display: none;
    }

}


