.chatarea {
  width: 97%;
  height: 95%;
  margin: 1rem 1rem;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.chatuserdata {
  display: inline;
  margin: 0;
}

.chatusericon {
  width: 400px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  padding: 0;
  margin-left: 1rem;
  display: flex;
  justify-content: start;
}
.settings-menu{
  position: absolute;
  right: 2%;
}

.chatavatar {
  object-fit: fill;
  margin: 0.3rem 0rem 0.3rem 0.5rem;
  /* width: 200px; */
  height: 40px;
  padding: 4px;
  /* width: 17.5%;
        height: 85%; */
  /* margin-top: 1.25%;
        margin-left: 2%;
        margin-bottom: 1.25%; */
  border-radius: 50%;

  object-fit: cover;
  background-color: #555;
}

.chatusername {
  margin: 0.7rem 0.5rem;
  font-weight: bold;
}
.chatdisplayspace {
  height: 75vh;
  margin: 10px 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}
.chatdisplayspace .no-messages {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar-thumb {
  background: #fe6d73;
  min-height: 10px;
}
.chatdisplayspace::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chatdisplayspace::-webkit-scrollbar {
  width: 2px;
}
.chatexchange {
  display: flex;
  width: 76vw;
  margin: 0 0 0 1rem;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  bottom: 0%;
  /* bottom: 0%; */
  /* background-color:#ade8f4; */
}

.chatexchange .catchusertext {
  border-color: "#660708";
  width: 70vw;
  background-color: #9381ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 1rem 0 0;
}

.chatexchange .send-button {
  width: 10vw;
}
.chatexchange aside.emoji-picker-react {
  position: absolute;
  bottom: 120%;
  right: 0;
}
/* .chatexchange aside.hide-emoji {
    display: none;
} */
@media (min-width: 375px) {
  .chatarea {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .chatexchange .send-button {
    width: 15vw;
  }
  .chatexchange .catchusertext {
    width: 100vw;
  }
  .chatexchange {
    width: 93vw;
  }
  .view-icon{
    visibility: visible;
  }
}
@media (min-width: 800px) {
  .online-div {
    display: block;
  }
  .view-icon{
    visibility: hidden;
  }
  .chatexchange .send-button {
    width: 10vw;
  }
  .chatexchange .catchusertext {
    width: 74vw;
  }
  .chatexchange {
    width: 78vw;
  }
}

@media (min-width: 1000px) {
  .chatarea {
    width: 97%;
    height: 95%;
    margin: 1rem 1rem;
  }
  .chatexchange .send-button {
    width: 10vw;
  }
  .chatexchange .catchusertext {
    width: 74vw;
  }
  .chatexchange {
    width: 78vw;
  }
}
